body {
	font-family: 'Muli';
	letter-spacing: 0.05rem;
}
.navbar .navbar-nav .nav-item .nav-link {
	padding-left: 1rem;
	padding-right: 1rem;
}
.full-height {
	min-height: 100vh;
}
.btn.btn-primary, .list-group-item.active {
	background: #00d1b2 !important;
	border-color: #00d1b2 !important;
}
.text-fresh {
	color: #00d1b2 !important;
}
.no-deco, a {
	text-decoration: none !important;
}
a {
	color: #00d1b2;
	transition-duration: 300ms;
}
a:hover {
	color: #00d1b2;
	opacity: 0.8;
}
@media (min-width: 1500px) {
	body {
		background: url(../images/fruits.png) left top repeat-y, url(../images/fruits.png) right top repeat-y;
	}
}